.logo img {
    height: 250px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.mainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formWrapper {
    width: 480px;
}
@media (min-width: 600px) {
    .mainWrapper {
        height: 100%;
    }
}
@media (max-width: 600px) {
    .formWrapper {
        width: 100%;
        margin: 24px 0;
    }
}